body {
  background: black;
  color: black;
}

#content {
  margin: 10px;
}

a {
  color: black;
}

#main_canvas {
  display: inline-block;
}

#control_panel{
  display: inline-block;
  // margin: 5px;
}

#widget_panel {
  display: block;
  margin: 20px;
  margin-top: 50px;
}

#widget_panel input {
  width: 400px;
  margin: 10px 20px 10px 0px;
}




    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      background: #000000;
      height: 8px;
      border-radius: 8px;
    }
     
    /* Thumb: Chrome, Safari, Opera, Edge Chromium */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 20px;
      width: 20px;
      background-color: #000000;
      border-radius: 50%;
      border: 2px solid #333; /* つまみ部分に枠線を設定 */
    }
     
    /* Thumb: Firefox */
    input[type="range"]::-moz-range-thumb {
      box-sizing: border-box; /*  border-box を設定 */
      height: 20px;
      width: 20px;
      background-color: #000000;
      border-radius: 50%;
      border: 2px solid #333;
    }


#restart {
  padding: 5px 50px 5px 50px;
  width: 400px;
  margin-top: 30px;
  background: #202020;
  color: #909090;
  border: 1px solid #303030;
}


#widget_panel label {
  vertical-align: top;
  display: inline;
}

#history_canvas {
  display: block;
}

#parameter_table {
  display: inline-block;
  // margin: 30px;
}

#parameter_table table {
  border: 1px dashed gray;
}

#parameter_table td,
#parameter_table th
{
  padding: 0px 5px 0px 20px;
}

#parameter_table th {
  text-align: left;
}

#parameter_table td {
  text-align: right;
}

#console {
  background: #222222;
  overflow: scroll;
  height: 200px;
  displey: inline-block;
}

#console p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#text {
  display: block;
  margin-top: 10em;
}

