body {
  background: black;
  color: black;
}

#content {
  margin: 10px;
}

a {
  color: black;
}

#main_canvas {
  display: inline-block;
}

#control_panel{
  display: inline-block;
  // margin: 5px;
}

#widget_panel {
  display: block;
  margin: 20px;
  margin-top: 50px;
}

#widget_panel input {
  width: 400px;
  margin: 10px 20px 10px 0px;
}

#widget_panel input[type="range"]::-webkit-slider-runnable-track,
#widget_panel input[type="range"]::-moz-range-track
{
  // background: gray;
}

#widget_panel label {
  vertical-align: top;
  display: inline;
}

#history_canvas {
  display: block;
}

#parameter_table {
  display: inline-block;
  // margin: 30px;
}

#parameter_table table {
  border: 1px dashed gray;
}

#parameter_table td,
#parameter_table th
{
  padding: 0px 5px 0px 20px;
}

#parameter_table th {
  text-align: left;
}

#parameter_table td {
  text-align: right;
}

#console {
  background: #222222;
  overflow: scroll;
  height: 200px;
  displey: inline-block;
}

#console p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#text {
  display: block;
  margin-top: 10em;
}

#restart {
  padding: 5px 50px 5px 50px;
  width: 400px;
  margin-top: 30px;
  background: #777777;
}
