body {
  background: #111111;
  color: #eeeeee;
}

#main_canvas {
  display: inline-block;
}

#parameter_table {
  display: inline-block;
  margin: 30px;
}

#parameter_table table {
  border: 1px dashed gray;
}

#parameter_table td,
#parameter_table th
{
  padding: 0px 5px 0px 20px;
}

#parameter_table th {
  text-align: left;
}

#parameter_table td {
  text-align: right;
}

#console {
  background: #222222;
  overflow: scroll;
  height: 200px;
  displey: inline-block;
}

#console p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

#widget_panel {
  display: inline-block;
}

#widget_panel input {
  width: 400px;
}

#widget_panel label {
  margin-left: 10px;
}
